:root {
  --titlebar-height: 24px;
  --controls-height: 40px;
}

html, body {
  background-color: #FAFAFA;
  color: #737373;
  font-family: Helvetica, Arial, sans-serif;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#titlebar {
  width: 100%;
  height: var(--titlebar-height);
  background-color: #008577;
  -webkit-app-region: drag;
}

#react {
  overflow: auto;
  height: calc(100vh - var(--titlebar-height))
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--controls-height);
}

.controls div {
  margin: 0 20px;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100vh - var(--titlebar-height) - var(--controls-height));
  width: 100%;
  overflow: auto;
}

.number-input {
  width: 64px;
  margin: 0 5px;
}

.input-label {
  line-height: 2;
  margin-right: 5px;
}

.range {
  line-height: 2;
  height: 10px;
  margin-left: 10px;
}
